<script id="repair-edit-template" type="text/x-handlebars-template">
    {{#this}}
        <div class="modal-body">
            {{#if repair_id}}
                <input type="hidden" name="repair_id" value="{{repair_id}}">
            {{/if}}
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="field-col col-md-1 control-label">Status</label>
                        <div class="field-col col-md-4">
                            <input name="repair_status_id" class="m-b select-two" data-select-route="repairStatuses"
                                   data-name="{{repair_status.repair_status_name}}"
                                   value="{{repair_status_id}}">
                        </div>
                        <label class="field-col col-md-2 control-label">Assigned To</label>
                        <div class="field-col col-md-4">
                            <input name="assigned_id" class="m-b select-two" data-select-route="users"
                                   data-name="{{assigned.firstname}} {{assigned.lastname}}"
                                   value="{{assigned_id}}">
                        </div>
                    </div>
                    <div class="row">
                        <label class="field-col col-md-1 control-label">Type</label>
                        <div class="field-col col-md-4">
                            <input name="repair_type_id" class="m-b select-two" data-select-route="repairTypes"
                                   data-name="{{repair_type.repair_type_name}}"
                                   value="{{repair_type_id}}">
                        </div>
                        <label class="field-col col-md-2 control-label">Priority</label>
                        <div class="field-col col-md-4">
                            <select name="repair_priority" class="form-control m-b">
                                {{#each (var "repairPriorities")}}
                                    <option value="{{@key}}" {{#eq (cast @key 'int') (cast ../repair_priority 'int')}}
                                            selected="selected" {{/eq}}>
                                        {{this}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="field-col col-md-1 control-label">Description</label>
                        <div class="field-col col-md-4">
                            <textarea name="repair_description" class="form-control" rows="2"
                                      placeholder="Input your description here">{{repair_description}}</textarea>
                            <span class="help-block" id="repair_description-error"></span>
                        </div>
                        <label class="field-col col-md-2 control-label">Estimated labour</label>
                        <div class="field-col col-md-4">
                            <input name="repair_est_hours" type="number" step="0.1" class="form-control"
                                   placeholder="est. Hours" value="{{repair_est_hours}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="font-bold">Parts</div>
            <div class="form-group multi-items">
                <div class="col-sm-12 parts" data-cnt="1">
                    <div class="row part-header">
                        <div class="field-col col-md-1">
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Name *</label>
                        </div>
                        <div class="field-col col-md-1">
                            <label class="control-label">Part No. *</label>
                        </div>
                        <div class="field-col col-md-1">
                            <label class="control-label">Seller</label>
                        </div>
                        <div class="field-col col-md-1">
                            <label class="control-label">Purchase Date</label>
                        </div>
                        <div class="field-col col-md-1">
                            <label class="control-label">File</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Description</label>
                        </div>
                        <div class="field-col col-md-1">
                            <label class="control-label">TAX</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Cost *</label>
                        </div>
                    </div>
                    <div class="row part-footer">
                        <div class="field-col col-md-1 text-center" style="padding-top:8px">
                            <a href="javascript:void(0);" class="action-add-part-row" type="button"><i
                                    class="fa fa-plus text-success"></i></a>
                        </div>
                        <label class="control-label col-md-9 text-right">
                            Total Tax
                        </label>
                        <div class="field-col col-md-2 text-right">
                            <div class="input-group">
                                <span class="input-group-addon">{{get_currency}}</span>
                                <input type="number" step="0.01" class="form-control part-total-tax" placeholder="Tax"
                                       value="0"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row part-footer2">
                        <label class="control-label col-md-10 text-right">
                            Total Parts Cost
                        </label>
                        <div class="field-col col-md-2 text-right">
                            <div class="input-group">
                                <span class="input-group-addon">{{get_currency}}</span>
                                <input type="number" step="0.01" class="form-control part-total" placeholder="Cost"
                                       value="0"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="font-bold">Labour</div>
            <div class="form-group multi-items">
                <div class="col-sm-12 employees" data-cnt="1">
                    <div class="row employee-header">
                        <div class="field-col col-md-1">
                        </div>
                        <div class="field-col col-md-3">
                            <label class="control-label">Employee</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Date</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Hours *</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Hourly Rate *</label>
                        </div>
                        <div class="field-col col-md-2">
                            <label class="control-label">Cost</label>
                        </div>
                    </div>
                    <div class="row employee-footer">
                        <div class="field-col col-md-1 text-center" style="padding-top:8px">
                            <a href="javascript:void(0);" class="action-add-employee-row" type="button"><i
                                    class="fa fa-plus text-success"></i></a>
                        </div>
                        <label class="control-label col-md-9 text-right">
                            Total Labour Cost
                        </label>
                        <div class="field-col col-md-2 text-right">
                            <div class="input-group">
                                <span class="input-group-addon">{{get_currency}}</span>
                                <input type="number" step="0.01" class="form-control employee-total" placeholder="Cost"
                                       value="0"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="font-bold">Files</div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="field-col col-md-1 text-center" style="padding-top:8px">
                        </div>
                        <div class="field-col col-md-11 text-right">
                            <input data-id="{{repair_id}}" data-upload-route="uploadFile"
                                   data-delete-route="deleteFile" name="file" type="file"
                                   class="file-input" multiple>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-md-2 control-label text-right" for="repair_end_at">
                            <span class="show-on-complete" style="display:none">Complete Date</span></label>
                        <div class="col-md-2">
                            <div class="input-group show-on-complete" style="display:none">
                                <input name="repair_end_at" type="text"
                                       class="datepicker form-control text-center"
                                       value="{{repair_end_at}}" readonly=""
                                       style="border-radius: 2px">
                            </div>
                        </div>
                        <label class="col-md-2 control-label text-right p-left-0 p-right-0" for="counter">
                            <span class="show-on-complete"
                                  style="display:none">{{var "DISTANCE_MEASUREMENT"}}/hrs
                                  on the day of service</span></label>
                        <div class="col-md-2">
                            <div class="input-group show-on-complete" style="display:none">
                                <input type="number" name="counter" step="1" class="form-control" placeholder="Counter"
                                       value="{{counter.counter_value}}">
                                <span class="input-group-addon">{{equipment.eq_counter_type_str}}</span>
                            </div>
                            <span class="note-block show-on-complete"  style="display:none">Last recorded eq. {{var
        "DISTANCE_MEASUREMENT"}}/hrs:
                                {{equipment.last_counter}} {{equipment.eq_counter_type_str}}</span>
                        </div>
                        <label class="col-md-2 control-label text-right">
                            Total Repair Cost
                        </label>
                        <div class="field-col col-md-2 text-right">
                            <div class="input-group">
                                <span class="input-group-addon">{{get_currency}}</span>
                                <input type="number" step="0.01" class="form-control total-price" placeholder="Cost"
                                       value="0"
                                       disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row show-on-complete" style="display:none">
                        <label class="col-md-2 control-label text-right" for="repair_end_note">Note</label>
                        <div class="col-md-6">
                        <textarea name="repair_end_note" class="form-control" rows="2"
                                  placeholder="Input your note here">{{repair_end_note}}</textarea>
                            <span class="help-block" id="repair_end_note-error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 feedback">
                <span class="help-block"></span>
            </div>
            <div class="clear"></div>
        </div>
    {{/this}}
</script>